body {
    margin-top:40px;
}
.react-home .react-input-box {
	background: linear-gradient(180deg,#3ba4ff,#66a5ff);
	padding: 50px;
	border-top: 2px solid #66a5ff;
	border-bottom: 2px solid #3ba4ff;
	box-shadow: 0px 1px 1px rgba(0,0,0,0.2), 2px 1px 2px #fff;
}
.step {
    display: table-cell;
    text-align: center;
    position: relative;
}
.step p {
    margin-top: 10px;
		color:#fff;
}
.step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
    font-style:
}
.step-row {
    display: table-row;
}
.step-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;
}
.stepwizard {
    display: table;
    width: 50%;
    position: relative;
}
@media only screen and (max-width: 991px) {
	.stepwizard {
		width: 80%;
	}
}
.well {
		width: 100% !important;
    padding: 20px!important;
    margin-bottom: 20px;
    background-color: #fff !important;
    border: 1px solid rgba(0, 0, 0, 0.15)!important;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.btn-default {
    width: 30px !important;
    height: 30px !important;
    text-align: center !important;
    padding: 6px 0 !important;
    font-size: 12px !important;
    line-height: 1.428571429 !important;
    border-radius: 15px !important;
}
.btn-primary {
	background: #005fe6 !important;
	border: none !important;
}
.btn-submit {
	background: #40D66E !important;
  color: #fff !important;
}
.react-checkout .react-input-box textarea,
.react-checkout .react-input-box select,
.react-checkout .react-input-box input {
	padding-left: 0 20px;
	outline: 1px #2e2e2e !important;
	border: 1px solid #fff;
  background: #f5f5f5;
	position: relative;
	min-width: 200px;
	height: 48px;
	border-radius: 3px;
	transition: all .25s cubic-bezier(.645,.045,.355,1);
}
.react-checkout label {
	font-weight: 300;
	color: #666;
	letter-spacing: 1px;
  margin-top: 5px;
}

.da-slider{
	border-bottom: 0 !important;
}
/* building details on checkout */
.panel-info>.panel-heading {
    color: #333 !important;
    background-color: #d9edf7 !important;
    border-color: #f5f5f5 !important;
}
.panel-info {
    border-color: rgba(0,0,0,.15) !important;
}
.panel {
  border-radius: 2px !important;
}
.next, .save, .prev {
  margin: 10px 5px;
  background: rgba(217, 237, 247, 0.8);
  border: 1px solid rgba(0,0,0,.078) !important;
  color: #666;
  text-shadow: 2px 2px 1px rgba(150, 150, 150, 0.43);
}
#step-1 h4,
#step-2 h4,
#step-3 h4 {
  font-weight: 400 !important;
  text-transform: uppercase;
  color: #444 !important;
}
#step-1 h5,
#step-2 h5,
#step-3 h5 {
  font-weight: 400 !important;
  text-transform: uppercase;
  color: #444 !important;
}
th {
  text-align: center !important;
}
table {
  color:#333!important;
}
.has-error label {
  font-weight: 400!important;
}
.has-error input,
.has-error input[type='number'],
.has-error select {
  border: 1px solid #a94442!important;
  background: rgba(169, 68, 66, 0.18) !important;
}
.safe-purchase li {
  margin: 10px 20px;
  float: right;
  text-decoration: none;
  display: inline-block;
  list-style-type: none;
}
.safe-purchase img {
  width: 100px;
}
.safe-purchase li:first-child {
  margin-right: 5px !important;
}
#no-obligation-panel {
  background: rgba(214, 233, 198, 0.83);
}
#selected-options .panel-body {
  padding: 0;
}
#selected-options table {
  margin-bottom: 0;
}
#building-details .list-group-item {
  padding:5px 15px !important;
}
#building-details .panel-body {
  padding:5px 0 0 0 !important;
}
