$blue : #3ba4ff;
$altblue: #66a5ff;
$grey : #6e7882;

@mixin reset-list() {
  text-indent: 0;
  list-style: none;
  padding: 0;
  margin: 0;
  &:before {
    display: none;
    content: "";
  }
}

body, html {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  margin: 0;
}

a {
  color: $blue;
  text-decoration: none;
}

.view-design {
  position:absolute;
  top:30px;
  left: 30px;
}

.container {
   height: 760px;
   overflow: hidden;
   position:relative;
}

.circle {
  display: none;

  @media(min-width:768px){
    height: 1600px;
    width: 1100px;
    background: linear-gradient(180deg,#3ba4ff,#66a5ff);
    position: absolute;
    top: -400px;
    right: -300px;
    z-index: -1;
    border-radius: 50%;
    display:block;
  }
}

.receipt {
  display: flex;
  flex-wrap: wrap;
  margin: 60px auto;
  width:830px;
  box-shadow: 0px 0px 50px 10px rgba(0,0,0,.1);
  vertical-align:top;
}

.receipt-breakdown {
  background: linear-gradient(180deg,#3ba4ff,#66a5ff);
  color:#fff;
  width: 220px;
  display:inline-block;
  position:relative;
  float:left;
  padding: 40px 30px;
  border-radius: 5px 0 0 5px;

  .receipt-breakdown--list {
    @include reset-list;

    li {
      padding: 25px 0;
      border-bottom:1px solid rgba(255,255,255,.4);

      &:last-of-type {
        border-bottom: none;
      }
    }

    .fa {
      display: inline-block;
      width:15%;
      float:left;
    }

    .list-content {
      width: 75%;
      display:inline-block;
    }

    p {
      font-weight:300;
      font-size: 13px;
      margin: 0;
      .list-bold {
        font-weight:600;
        display:block;
        font-size: 15px;
        padding-top:5px;
      }
    }
  }
}

.receipt-breakdown--header {
  border-bottom:1px solid rgba(255,255,255,.4);
  padding: 10px 0;

  h2 {
    margin: 0;
    font-size: 22px;
    padding-bottom: 15px;
  }

  p {
    padding: 0 0 7px 0;
    margin: 0;
  }
}

.receipt-overview {
  width: 490px;
  display: inline-block;
  border-radius: 0 5px 5px 0;
  padding: 0 30px;
  background-color: #fff;

  hr {
    margin-top: 90px;
    border-top: 1px solid lighten($grey, 30%);
    box-shadow: none;
  }

  .user-info {
    padding-top: 15px;
  }
}

.overview-header {
  padding: 38px 0 20px 0;
}

.logo {
  display: inline-block;
  width:70px;
  float: right;
}

.timestamp {
  display: inline-block;
  float:left;
  padding-top:15px;

  span {
    color: lighten($grey, 25%);
    font-size: 15px;
    font-family:inherit;
    font-weight: 600;

    &:first-of-type {
      padding: 15px;
    }
  }
}

.descriptor {
  width: 60%;
  padding-top:8px;

  p {
    font-size: 13px;
    color: $grey;
    line-height: 1.5;
  }
}

.overview-body {
    color: $grey;

    span {
      color: #000;
    }
}

.salutation {
  text-align: center;
  font-style: italic;
  font-size: 130%;
}
.salutation img {
  height:55px;
  padding-top: 8px;
}
.user-info-name {
  font-weight:600;
  font-size: 18px;
}

.user-info-text {
  line-height:1.5;
  font-weight: 500;

  a {
    color: $blue;
    text-decoration: none;
  }
}


.purchase-overview {
  color: darken($grey, 12%);
}

.overview-footer {
  padding: 20px 0 15px;
  margin-top: 30px;
  border-top: 1px solid lighten($grey, 30%);

  a {
    font-size: 13px;
    font-weight: 600;
  }

  .invoice-id {
    float:right;
    font-size: 13px;
    color: $grey;
    font-weight: 600;
  }
}
